h1{
    color: aqua;background-color: blue;font-family: 'Times New Roman', Times, serif;
}
h3{
    color: aqua;background-color: whitesmoke;font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: skyblue;font-family: 'Times New Roman', Times, serif;

}